# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled Object files
*.o

#temporary files
*~

#librarys
nbproject
build
dist
bin
obj
.dep.inc
src/.cproject
src/.project
